<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shayanetan.borrowise2" >

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_borrowise"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activities.BaseActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Activities.ViewTransactionActivity"
            android:label="@string/title_activity_add_transaction" >
        </activity>
        <activity
            android:name=".Activities.ViewUserActivity"
            android:label="@string/title_activity_view_user" >
        </activity>
        <activity
            android:name=".Activities.HomeActivity"
            android:label="@string/title_activity_home"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.HistoryActivity"
            android:label="@string/title_activity_history" >
        </activity>
        <activity
            android:name=".Activities.SettingsActivity"
            android:label="Settings" >
        </activity>
        <activity
            android:name=".Activities.ViewUserProfileActivity"
            android:label="@string/title_activity_view_user_profile" >
        </activity>
        <receiver
            android:name=".Activities.AlarmReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>
        <receiver android:name=".Activities.SMSReceiver"
            android:enabled="true"
            android:exported="true"/>
    </application>

</manifest>
